.container {
    background-color: #FFF5E1; /* Cream */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, button {
    margin: 10px 0;
  }
  p{
    color: white;
  }
  